.draggable {
    cursor: move;
    user-select: none;
}

.d-none {
    display: none;
}

.j-center {
    justify-content: center;
}

#cropping_rect {
    position: absolute;
    border: 1px solid red;
    z-index: 999;
}

#crop_outer {
    position: relative;
    width: 0;
    height: 0;
}

.tagging-img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}