#cropper {
    display: none;
    position: absolute;
    border: 2px solid red;
    color: red;
    font-size: 28px;
    z-index: 999;
    user-select: none;
}

#resize_display {
    position: absolute;
    display: block;
    background-image: linear-gradient(to bottom right, transparent 50%, rgb(54, 59, 61) 50%);
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    cursor: ns-resize;
}

#display_tags_label {
    top: -0.6em;
    left: 1em;
}

#display_tags_buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#tags_list_log {
    font-size: 14px;
}

#tags_list_page_index {
    width: 75px;
    height: 32px;
}

.display_tags_button {
    width: 1.75em;
    height: 1.75em;
}

/********************************/

.no-interact {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.pl-1 {
    padding-left: 0.25rem;
}

.my-a {
    margin-top: auto;
    margin-bottom: auto;
}

.p-5 {
    padding: 5px;
}

.draggable {
    cursor: move;
    user-select: none;
}

.d-none {
    display: none;
}

.max-h-full {
    max-height: 100%;
}